.missions {
  margin: 40px;
  border: 1px solid rgb(216, 209, 209);
}

.mission {
  display: flex;
  flex-direction: column;
}

.missionHead {
  font-size: 16px;
  display: grid;
  grid-template-columns: 15% 65% 10% 10%;
}

.missionRow {
  display: grid;
  grid-template-columns: 15% 65% 10% 10%;
}

.status {
  display: flex;
  flex-direction: row;
}

.headerItem {
  padding: 10px;
  padding-left: 3px;
  border: 1px solid rgb(216, 209, 209);
}

.missionName,
.description,
.missionStatus,
.missionButton {
  padding: 20px;
  padding-left: 5px;
  border: 1px solid rgb(216, 209, 209);
}

.missionName {
  font-size: 22px;
}

.description {
  font-size: 20px;
}

.missionButton,
.missionStatus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join {
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
}

.leave {
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid red;
}

.membership {
  border-radius: 5px;
  color: white;
  background-color: rgb(134, 129, 129);
  padding: 3px;
}

.membership.active {
  background-color:rgb(59, 223, 223);
}

.missionRow:nth-child(odd) {
  background: rgb(232, 232, 235);
}
