
.rocketImage {
  width: 450px;
}

.singleRocket {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 30px;
  flex-wrap: wrap;
}

.infoSection {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 1000px;
}

.rocketName {
  font-family: 'Playfair Display', serif;
}

.rocketDescription {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.displaySpan {
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(106, 140, 252);
}

.nodisplaySpan {
  display: none;
}

/* .noReserve {
  width: 150px;
  color: white;
  background-color: rgb(20, 66, 214);
} */

.reserve {
  width: 150px;
  height: 60px;
  font-size: 15px;
  color: white;
  background-color: rgb(70, 113, 255);
  border-radius: 5px;
}

.noReserve {
  width: 200px;
  height: 60px;
  font-size: 15px;
  color: rgb(99, 97, 97);
  background-color: rgb(227, 229, 235);
  border-radius: 5px;
}